@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-dots {
  display: flex;
  justify-content: center;
}

.carousel-dot {
  outline: none;
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border: none;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
}

.carousel-dot--active {
  background-color: #000;
}

.carousel {
  margin: 20px auto;
  width: 100%;
}

.carousel-previous-btn,
.carousel-next-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 24px;
}
