# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/client/coverage

# production
/client/build

# server
/server/node_modules
/server/.env

# client
/client/node_modules
/client/.pnp
/client/.pnp.js
/client/.DS_Store
/client/.env
/client/npm-debug.log*